@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Bevestiging wachtwoordreset</PageTitle>

<h1>Bevestiging wachtwoordreset</h1>
<p role="alert">
    Controleer je e-mail om je wachtwoord te resetten.
</p>
