@page "/Account/InvalidPasswordReset"

<PageTitle>Ongeldige wachtwoordreset</PageTitle>

<h1>Ongeldige wachtwoordreset</h1>
<p role="alert">
    De link voor het resetten van het wachtwoord is ongeldig.
</p>
