@page "/Account/Lockout"

<PageTitle>Account geblokkeerd</PageTitle>

<header>
    <h1 class="text-danger">Account geblokkeerd</h1>
    <p class="text-danger" role="alert">Dit account is geblokkeerd. Probeer het later opnieuw.</p>
</header>
