@page "/Account/ResetPasswordConfirmation"
<PageTitle>Bevestiging wachtwoordreset</PageTitle>

<h1>Bevestiging wachtwoordreset</h1>
<p role="alert">
    Je wachtwoord is gereset. <a href="Account/Login">Klik hier om in te loggen</a>.
</p>
