@page "/Account/Manage/Disable2fa"

@using Microsoft.AspNetCore.Identity
@using LotusPlanningApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Twee-factor authenticatie (2FA) uitschakelen</PageTitle>

<StatusMessage />
<h3>Twee-factor authenticatie (2FA) uitschakelen</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deze actie schakelt alleen 2FA uit.</strong>
    </p>
    <p>
        Het uitschakelen van 2FA verandert de sleutels die in authenticator-apps worden gebruikt niet. Als je de sleutel
        in een authenticator-app wilt wijzigen, moet je <a href="Account/Manage/ResetAuthenticator">je authenticatorsleutels resetten.</a>
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">2FA uitschakelen</button>
    </form>
</div>

@code {
    private ApplicationUser? user;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Kan 2FA niet uitschakelen voor deze gebruiker omdat het niet is ingeschakeld.");
        }
    }

    private async Task OnSubmitAsync()
    {
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Onverwachte fout bij het uitschakelen van 2FA.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' has disabled 2fa.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "2FA is uitgeschakeld. Je kunt 2FA weer inschakelen wanneer je een authenticator-app hebt ingesteld",
            HttpContext);
    }
}
