@page "/Account/Manage/GenerateRecoveryCodes"

@using Microsoft.AspNetCore.Identity
@using LotusPlanningApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<GenerateRecoveryCodes> Logger

<PageTitle>Herstelcodes voor twee-factor authenticatie (2FA) genereren</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message" />
}
else
{
    <h3>Herstelcodes voor twee-factor authenticatie (2FA) genereren</h3>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Bewaar deze codes op een veilige plek.</strong>
        </p>
        <p>
            Als je je apparaat kwijtraakt en je hebt geen herstelcodes, verlies je de toegang tot je account.
        </p>
        <p>
            Het genereren van nieuwe herstelcodes verandert de sleutels die in authenticator-apps worden gebruikt niet. Als je de sleutel
            in een authenticator-app wilt wijzigen, moet je <a href="Account/Manage/ResetAuthenticator">je authenticatorsleutels resetten.</a>
        </p>
    </div>
    <div>
        <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
            <AntiforgeryToken />
            <button class="btn btn-danger" type="submit">Herstelcodes genereren</button>
        </form>
    </div>
}

@code {
    private string? message;
    private ApplicationUser? user;
    private IEnumerable<string>? recoveryCodes;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        var isTwoFactorEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        if (!isTwoFactorEnabled)
        {
            throw new InvalidOperationException("Kan geen herstelcodes genereren omdat 2FA niet is ingeschakeld.");
        }
    }

    private async Task OnSubmitAsync()
    {
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        var userId = await UserManager.GetUserIdAsync(user);
        recoveryCodes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(user, 10);
        message = "Je hebt nieuwe herstelcodes gegenereerd.";

        Logger.LogInformation("User with ID '{UserId}' has generated new 2FA recovery codes.", userId);
    }
}
