@page "/Error"
@using System.Diagnostics

<PageTitle>Fout</PageTitle>

<h1 class="text-danger">Fout.</h1>
<h2 class="text-danger">Er is een fout opgetreden tijdens het verwerken van je verzoek.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Verzoek-ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Ontwikkelmodus</h3>
<p>
    Overschakelen naar de <strong>Development</strong>-omgeving toont meer details over de opgetreden fout.
</p>
<p>
    <strong>De Development-omgeving mag niet ingeschakeld zijn voor gedeployde applicaties.</strong>
    Dit kan gevoelige informatie uit exceptions tonen aan eindgebruikers.
    Voor lokaal debuggen kun je de <strong>Development</strong>-omgeving inschakelen door de omgevingsvariabele <strong>ASPNETCORE_ENVIRONMENT</strong> op <strong>Development</strong> te zetten
    en de app opnieuw te starten.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
